body{
    background-color: beige;
    
}
h2{
font-size: 25px !important;
}
.btn-success:hover{
    background-color: rgb(42, 78, 29);
}
canvas{
    animation-name:aydin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
